@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Sub Task D</h4>
<br />
<h1>About  US</h1><br />

<p>
    Information about us. Information about us. Information about us. Information about us
</p>

<img src="~/images/image.jpg" height="400", width="400"/>
