@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>Sub Task A</h4>
<br />
<h1>Employee Details</h1><br />
<table border="2" width="20">
    <tr>
        <th>Empno</th>
        <th>Ename</th>
        <th>Job</th>
        <th>Salary</th>
        <th>Deptno</th>
        
    </tr>

     <tr>
        <td>1</td>
        <td>Sam</td>
        <td>Manager</td>
        <td>1000</td>
        <td>6</td>
        
    </tr>

     <tr>
        <td>2</td>
        <td>TIm</td>
        <td>Sales</td>
        <td>2000</td>
        <td>3</td>
        
    </tr>
</table>